p {
  font-style: italic;
  text-decoration: underline;
  height: 200px;
  width: 200px;
}

div .square{
  background-color: green;
  padding: 50px;
}
.square {
  background-color: rgb(219, 235, 219);
  padding: 50px;

  border: 2px dashed; /*u can still add ANY OTHER COLOR*/
  display: flex;
  justify-content: center; /*at horizontal*/

  align-items: center; /*outline at vertical*/
  width: 600px;
  margin-bottom: 20px;
}
.flag {
  height: 300px;
  width: 600px;
  
  margin-top: 30px;
  display: flex;
}
.flag .blue {
  background-color: blue;
  height: 98%;
  
  width: 30%;
}
.flag .white {
    background-color:white;
    height: 98%;
    border: 0px;
    width: 34%;

  }
  .flag .red{
    background-color:red;
    height: 98%;
    border: 0px;
    width: 33%;
    
  }

    
